<!doctype HTML>

<head>
    <meta charset="UTF-8"/>
    <title>Rafiel Pastor</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/app/app.js" defer></script>
</head>
<body ng-app="resume">

  <div class="navbar navbar-inverse" id="navigation">
    <div class="row">
      <div class="col-xs-6">
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/resume'>Resume</a></li>
          <li><a href='/blog'>Blog</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <h3>Rafiel's Resume Website</h3>
      </div>
    </div>
  </div>


  <main class="container">
    <!-- <img src="" /> -->
    <div class="row">
      <div class="col-xs-2" id="sideBar">
        <h3>NAVIGATION</h3>
          <ul>
            <p><a ui-sref="experience">MORE</a></p>
            <p><a ui-sref="experience">MORE</a></p>
            <p><a ui-sref="experience">MORE</a></p>
            <p><a ui-sref="experience">MORE</a></p>
            <p><a ui-sref="experience">MORE</a></p>
          </ul>
      </div>



      <div class="col-xs-8" id="main">
        <div class="row">
            <span><img src="/images/headShot.jpg" id="selfie"></span>
            <h1>Rafiel Pastor</h1>
          <ul>
            <li>MORE</li>
            <li>Text</li>
            <li>Everywhere</li>
            <li>HERE</li>
            <li>WEHFIEUW</li>
          </ul>
        </div>
        <div class="row">
          <h1>MORE TEXT HERE</h1>
          <ui-view></ui-view>
        </div>  
      </div>




      <div class="col-xs-2" id="rightBar">
        <h3>Find Me</h3>
        <p><a target="_blank" href="http://blogtechnical.tumblr.com/">Tumblr</a></p>
        <p><a target="_blank" href="https://www.linkedin.com/in/rafiel-pastor-a4522330">LinkedIn</a></p>
        <p><a target="_blank" href="https://github.com/rpastor90">GitHub</a></p>
      </div>
    </div>
  </main>


  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/js/app.js"></script>
</body>
